# Arquivo de configuração de ambiente com senhas e segredos
# NUNCA envie este arquivo para o GitHub!
.env

# Pasta de dependências do Node.js (será recriada com 'npm install')
node_modules/

# Pasta de build do frontend (será recriada com 'npm run build')
dist/

# Pasta de uploads do backend
# Geralmente não se envia os uploads, a não ser que sejam de exemplo
uploads/

# Logs de erros e de debug
*.log
npm-debug.log*

# Arquivos de sistema operacional
.DS_Store
Thumbs.db