--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: checklist_foto; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.checklist_foto (
    id integer NOT NULL,
    os_id integer,
    item_id integer,
    caminho_arquivo text NOT NULL,
    descricao text
);


ALTER TABLE public.checklist_foto OWNER TO postgres;

--
-- Name: checklist_foto_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.checklist_foto_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.checklist_foto_id_seq OWNER TO postgres;

--
-- Name: checklist_foto_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.checklist_foto_id_seq OWNED BY public.checklist_foto.id;


--
-- Name: checklist_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.checklist_item (
    id integer NOT NULL,
    nome text NOT NULL,
    ordem integer,
    opcoes text[],
    tipo character varying(20) DEFAULT 'options'::character varying,
    oficina_id integer NOT NULL
);




ALTER TABLE public.checklist_item OWNER TO postgres;

--
-- Name: checklist_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.checklist_item_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.checklist_item_id_seq OWNER TO postgres;

--
-- Name: checklist_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.checklist_item_id_seq OWNED BY public.checklist_item.id;


--
-- Name: checklist_resposta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.checklist_resposta (
    id integer NOT NULL,
    os_id integer,
    item_id integer,
    status text,
    observacao text
);


ALTER TABLE public.checklist_resposta OWNER TO postgres;

--
-- Name: checklist_resposta_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.checklist_resposta_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.checklist_resposta_id_seq OWNER TO postgres;

--
-- Name: checklist_resposta_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.checklist_resposta_id_seq OWNED BY public.checklist_resposta.id;


--
-- Name: oficinas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.oficinas (
    id integer NOT NULL,
    nome_fantasia character varying(255) NOT NULL,
    cnpj character varying(18),
    data_cadastro timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    email character varying(255),
    telefone character varying(20)
);


ALTER TABLE public.oficinas OWNER TO postgres;

--
-- Name: oficinas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.oficinas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.oficinas_id_seq OWNER TO postgres;

--
-- Name: oficinas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.oficinas_id_seq OWNED BY public.oficinas.id;


--
-- Name: ordem_servico; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ordem_servico (
    id integer NOT NULL,
    cliente_nome text NOT NULL,
    veiculo_placa text NOT NULL,
    data timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    seguradora_nome character varying(255),
    veiculo_modelo character varying(255),
    assinatura_cliente text,
    oficina_id integer
);


ALTER TABLE public.ordem_servico OWNER TO postgres;

--
-- Name: ordem_servico_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ordem_servico_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ordem_servico_id_seq OWNER TO postgres;

--
-- Name: ordem_servico_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ordem_servico_id_seq OWNED BY public.ordem_servico.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nome character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    senha text NOT NULL,
    role character varying(50) NOT NULL,
    oficina_id integer,
    cpf character varying(14)
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: checklist_foto id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_foto ALTER COLUMN id SET DEFAULT nextval('public.checklist_foto_id_seq'::regclass);


--
-- Name: checklist_item id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_item ALTER COLUMN id SET DEFAULT nextval('public.checklist_item_id_seq'::regclass);


--
-- Name: checklist_resposta id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_resposta ALTER COLUMN id SET DEFAULT nextval('public.checklist_resposta_id_seq'::regclass);


--
-- Name: oficinas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oficinas ALTER COLUMN id SET DEFAULT nextval('public.oficinas_id_seq'::regclass);


--
-- Name: ordem_servico id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordem_servico ALTER COLUMN id SET DEFAULT nextval('public.ordem_servico_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: checklist_foto checklist_foto_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_foto
    ADD CONSTRAINT checklist_foto_pkey PRIMARY KEY (id);


--
-- Name: checklist_item checklist_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_item
    ADD CONSTRAINT checklist_item_pkey PRIMARY KEY (id);


--
-- Name: checklist_resposta checklist_resposta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_resposta
    ADD CONSTRAINT checklist_resposta_pkey PRIMARY KEY (id);


--
-- Name: oficinas oficinas_cnpj_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oficinas
    ADD CONSTRAINT oficinas_cnpj_key UNIQUE (cnpj);


--
-- Name: oficinas oficinas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.oficinas
    ADD CONSTRAINT oficinas_pkey PRIMARY KEY (id);


--
-- Name: ordem_servico ordem_servico_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordem_servico
    ADD CONSTRAINT ordem_servico_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_cpf_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_cpf_key UNIQUE (cpf);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: checklist_foto checklist_foto_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_foto
    ADD CONSTRAINT checklist_foto_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.checklist_item(id);


--
-- Name: checklist_foto checklist_foto_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_foto
    ADD CONSTRAINT checklist_foto_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.ordem_servico(id) ON DELETE CASCADE;


--
-- Name: checklist_resposta checklist_resposta_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_resposta
    ADD CONSTRAINT checklist_resposta_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.checklist_item(id) ON DELETE CASCADE;


--
-- Name: checklist_resposta checklist_resposta_os_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.checklist_resposta
    ADD CONSTRAINT checklist_resposta_os_id_fkey FOREIGN KEY (os_id) REFERENCES public.ordem_servico(id) ON DELETE CASCADE;


--
-- Name: ordem_servico ordem_servico_oficina_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ordem_servico
    ADD CONSTRAINT ordem_servico_oficina_id_fkey FOREIGN KEY (oficina_id) REFERENCES public.oficinas(id) ON DELETE CASCADE;


--
-- Name: usuarios usuarios_oficina_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_oficina_id_fkey FOREIGN KEY (oficina_id) REFERENCES public.oficinas(id);

ALTER TABLE ONLY public.checklist_item
    ADD CONSTRAINT checklist_item_oficina_id_fkey FOREIGN KEY (oficina_id) REFERENCES public.oficinas(id) ON DELETE CASCADE;
--
-- PostgreSQL database dump complete
--

